body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 30px;
}

.form-register {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
    padding: 0;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
    text-align: center;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group input[type="submit"] {
    width: calc(100% - 250px);
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin: 0 auto;
    display: block;
}

.form-group input[type="submit"]:hover {
    background-color: #4cae4c;
}

.messages p {
    background-color: #ffdddd;
    color: #d8000c;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    text-align: center;
}